<div id="message-<%= message.uid %>" class="list__item message <%= "message--#{message.type}" %>" data-message-id= '<%= message.uid %>' data-time="<%= message.created_at.iso8601 %>">
  <div class="list__avatar">
    <%= image_tag url_for(message.user.avatar_thumb), class: 'avatar' %>
  </div>
  <div class="list__content">
    <div class="message__header">
      <span class="message__name"><%= message.user.name %></span>
      <span class="message__username">@<%= message.user.username %></span>
      <span class="message__time"><%= local_time message.created_at, :time %></span>
    </div>
    <div class="message__body">
      <% case message.type when 'image' %>
        <div class="message__image">
          <%= image_tag message.file_thumb, width: message.file_thumb_metadata['width'], height: message.file_thumb_metadata['height'] %>
        </div>
        <div class="message__file-meta">
          <span class="message__file-attribute"><%= message.file.blob.filename %></span>
          <span class="message__file-attribute"><%= number_to_human_size message.file.blob.byte_size %></span>
          <span class="message__file-attribute"><%= link_to 'View full-size', message.file, target: '_blank' %></span>
          <span class="message__file-attribute"><%= link_to 'Download', rails_blob_path(message.file, disposition: 'attachment') %></span>
        </div>
      <% else %>
        <%= sanitize message.body %>
      <% end %>
    </div>
  </div>
</div>
