<div id="message-<%= message.uid %>" class="list__item message" data-message-id= '<%= message.uid %>'>
  <div class="list__avatar">
    <%= image_tag url_for(message.user.avatar_thumb), class: 'avatar' %>
  </div>
  <div class="list__content">
    <div class="message__header">
      <b><%= message.user.name %></b> <%= message.user.username %>
    </div>
    <div class="message__body">
      <%= message.body %>
    </div>
  </div>
</div>
