<%= form_with model: @user, html: { id: 'sign-up-form', class: 'form' } do |form| %>
<div class="form__field <%= 'form__field--invalid' if @user.errors[:username].any? %>">
  <%= form.label :username %>
  <%= form.text_field :username %>
  <% if @user.errors[:username].any? %>
    <div class="form__message">
      <%= @user.errors[:username].first %>
    </div>
  <% end %>
</div>
<div class="form__field <%= 'form__field--invalid' if @user.errors[:email].any? %>">
  <%= form.label :email %>
  <%= form.text_field :email %>
  <% if @user.errors[:email].any? %>
    <div class="form__message">
      <%= @user.errors[:email].first %>
    </div>
  <% end %>
</div>
<div class="form__field <%= 'form__field--invalid' if @user.errors[:password].any? %>">
  <%= form.label :password %>
  <%= form.password_field :password %>
  <% if @user.errors[:password].any? %>
    <div class="form__message">
      <%= @user.errors[:password].first %>
    </div>
  <% end %>
</div>
<div class="form__field <%= 'form__field--invalid' if @user.errors[:password_confirmation].any? %>">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <% if @user.errors[:password_confirmation].any? %>
    <div class="form__message">
      <%= @user.errors[:password_confirmation].first %>
    </div>
  <% end %>
</div>
<%= form.submit 'Sign up', class: 'button button--contained button--primary button--full-width' %>
<% end %>
