<div class="app-bar-wrapper">
  <div class="app-bar">
    <div class="toolbar">
      <div class="toolbar__action">
        <a href="/" class="button button--icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>
        </a>
      </div>
      <div class="toolbar__title">
        New Room
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main__container">
      <%= custom_form_with model: @room do |form| %>
        <%= form.text_field :name %>
        <%= form.wrap_field :visibility do %>
          <label>
            <%= form.radio_button :visibility, 'private' %>
            Private
          </label>
          <label>
            <%= form.radio_button :visibility, 'internal' %>
            Internal
          </label>
          <label>
            <%= form.radio_button :visibility, 'Public' %>
            Public
          </label>
        <% end %>
        <%= form.submit 'Create Room', class: 'button button--contained button--primary' %>
      <% end %>
    </div>
  </div>
</div>
